* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: sandybrown;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: navajowhite;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

    nav li {
        list-style: none;
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
    }

        nav li span {
            padding-left: 5px;
        }

li a {
    padding: 5px;
    background-color: #ffffff;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

button[class*=payment] {
    background-color: #ff926e;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    right: 770px;
}
/*Cart Page*/
.product-container {
    max-width: 950px;
    justify-content: flex-end;
    margin: 50px auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
}

button[class*=icon] {
    width: 50px;
    height: 50px;
    background-color: #E1E8EE;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

button[class*=icon-ion-minus] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button[class*=icon-ion-plus] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.product-title {
    width: 45%;
    display: flex;
    align-items: center;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.quantity {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.ion-icon {
    cursor: pointer;
}

.product img {
    width: 75px;
}

.basketTotalContainer {
    max-width: 410px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}
